@model CHUBBHR.Models.Usuario

@{
    ViewData["Title"] = "COMPETENCIAS";
}

<h1>Competencias</h1>

<div>
    <h2>Texto de evaluación:</h2>
    <div id="evaluacionTexto">
        @Html.Raw(ViewBag.EvaluacionTexto)
    </div>
</div>