html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Define el color morado */
.btn-purple {
    background-color: purple;
    color: white; /* Cambia el color del texto para que sea legible */
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

    /* Estilo al pasar el mouse */
    .btn-purple:hover {
        background-color: darkpurple; /* Cambia el color cuando el mouse pasa por encima */
    }


/* Estilos generales */
body {
    font-family: Georgia, sans-serif;
    background-color: #E9EAF5;
    margin: 0;
    padding: 0;
}



/* Estilos de encabezado */
header {
    background-color: #4A0072;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

    header h1 {
        font-size: 36px;
        margin: 0;
    }

/* Estilos de navegación */
nav {
    background-color: #4A0072;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

            nav ul li:last-child {
                margin-right: 0;
            }

            nav ul li a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
            }

/* Estilos de contenido */
.section {
    padding: 20px 0;
}

    .section h2 {
        font-size: 24px;
    }

/* Estilos de pie de página */
footer {
    background-color: #4A0072;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: -30px; /* Ajusta este valor según sea necesario */
    z-index: -1; /* Agrega esta línea */
}

/* Estilos de botón */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #003366;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .button:hover {
        background-color: #002255;
    }

/* Estilos de tipografía */
h1, h2, h3, h4, h5, h6 {
    font-family: "Arial", sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.button-style {
    display: inline-block;
    padding: 5px 10px;
    background-color: orange;
    color: black;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.button-purple-style {
    display: inline-block;
    padding: 5px 10px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

/* styles.css */
.chubb-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #00A0D1; /* Color turquesa de CHUBB */
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.formulario-grande .textbox-large {
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 200px; /* Ajusta la altura según sea necesario */
    padding: 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Agregar estilos para botones con íconos */
.btn-icon {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border: none;
}

    /* Estilos de colores para los botones */
    .btn-icon.red {
        background-color: #FF6F61;
        color: white;
    }

    .btn-icon.blue {
        background-color: #00A0D1;
        color: white;
    }

    .btn-icon.purple {
        background-color: #D20056;
        color: white;
    }

    .btn-icon.yellow {
        background-color: #FFC425;
        color: white;
    }

    /* Añadir margen derecho para separar los botones */
    .btn-icon:not(:last-child) {
        margin-right: 5px;
    }

/* Estilo para el contenedor del globo */
.language-dropdown {
    display: flex;
    align-items: center;
    font-size: 18px;
}

    /* Estilo para el ícono de globo */
    .language-dropdown i {
        margin-right: 5px; /* Espacio entre el ícono y el texto */
    }

/* Estilo para la barra de opciones desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: 150px; /* Ancho de la barra de opciones */
    padding: 0;
    margin: 0;
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

    .dropdown-menu.show {
        display: block;
    }
